[Desktop Entry]
Encoding=UTF-8
Name=Dash
Comment=Dash P2P Cryptocurrency
Comment[fr]=Dash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dash, eşten eşe kriptografik sanal para birimi
Exec=groot-qt %u
Terminal=false
Type=Application
Icon=groot128
MimeType=x-scheme-handler/groot;
Categories=Office;Finance;
