[Unit]
Description=Dash's distributed currency daemon
After=network.target

[Service]
User=grootcore
Group=grootcore

Type=forking
PIDFile=/var/lib/grootd/grootd.pid
ExecStart=/usr/bin/grootd -daemon -pid=/var/lib/grootd/dashd.pid \
-conf=/etc/grootcore/groot.conf -datadir=/var/lib/dashd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
